<h1>Bienvenido a Sinatra!</h1>
<p>Este es un esqueleto de sinatra que armamos para ti</p>
<form action="/submit" method="post">
  <center>
    <p>Correo</p>
    <input type="text" placeholder="Email@example.com" name="email">
    <br>
    <p>Contraseña</p>
    <input type="password" name="pass">
    <br>
    <br>
    <input id="submit" type="submit" value="Ingresar">
  </center>
</form>
<% if @message %>
  <center>
    <p><%= @message %></p>
  </center>
  <!--Hacer que el mensaje no existe para que no se muestre siempre-->
  <% session[:message] = nil %>
<% end %>
<br>
<hr>
<center>
  <a class="boton" href="/register">Registrate</a>
</center>

  
